body, html {
	margin: 0;
	font: sans-serif, Arial, "Lato","Helvetica Neue",Helvetica;
}

.content {
	padding: 30px;
}

.nav-main {
	width: 100%;
	background: #131418;
	height: 110px;
	color: #ffffff;
	font-family: sans-serif;
}

.nav-main .logo {
	float: left;
	width: 20%;
	padding: 0 50px;
}


.nav-main > ul {
	margin: 0; 
	padding: 0;
	float: left;
	list-style-type: none; 
}

.nav-main > ul > li {
	float: left;
}

#current {
	color:#c0392b;
	font-weight: bold;
}

.nav-item {
	display: inline-block;
	padding: 25px 50px;
	height: 70px;
	line-height: 70px;
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;
}

.nav-item:hover {
	color: #c0392b;
}


footer {
	padding: 1px 0 1px 0;
	margin-top: 10px;
	color: #ffffff;
	background-color: #c0392b;
	text-align: center;
}
