body {
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}

/* header **/
header {
	background-color: #2c3e50;
	color: #ffffff;
	min-height: 30px;
	border-bottom: #c0392b 2px solid;
}

header img {
	width: 3%;
	padding: 25px 10px 0 0;
	float: left;	
}

header#branding, header h1 {
	float: left;	
}

#brandtext  {
	text-transform: none;
}

header a {
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header nav {
	margin-top: 20px;
	display: inline;
	float: right;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header .highlight, header .current a {
	color: #c0392b;
	font-weight: bold;
}

header div li a:hover {
	color: #c0392b;
	font-weight: bold;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}


/* section */
.content h3 {
	text-align: center;
}

/*  Footer */
footer {
	padding: 1px 0 1px 0;
	margin-top: 20px;
	color: #ffffff;
	background-color: #c0392b;
	text-align: center;
}
